.App {
  text-align: center;
  margin: 50px;
}

.calc-screen {
  border: black 1px solid;
  font-family: 'Lato', sans-serif;
  max-width: 400px;
  background-color: #2A2929;
  color: white;
  margin: auto;
}

.result {
  height: 80px;
  font-size: 26px;
  font-family: 'Lato', sans-serif;
  border: black 1px solid;
  background-color: #2A2929;
  width: 100%;
}

.result p {
  text-align: right;
  margin-right: 20px;
}

.buttons {
  display: block;
  background-color: #bbb;
}

.buttons button {
  width: 25%;
  height: 70px;
  font-size: 25px;
  font-family: 'Lato', sans-serif;
 
}

#tool {
  background-color: #F7A357;
  color: white;
}